*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav{
	position: relative;
	width: 650px;
	height: 32px;
	margin: 0 auto;
	background: #999;
	/* overflow: hidden; */
}
.nav>ul>li{
	position: relative;
	float: left;
	margin: 4px 4px;
}
.nav>ul>li a{
	display:block;
	width: 100px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #ff0;
}
.nav a:hover{
	background:#f0f;
}
.nav>ul ul{
	display: none;
}